.main-container{
    width: 70rem;
    height: 40rem;
    margin: 2rem;
}
.layout-container{
    
    width: 100%;
    height: 100%;
    background-image: url("../../public/images/rain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container{
    width: 30rem;
    height: 2rem;
    position: absolute;
    margin: 2rem;
    display: flex;
    gap: 1rem;
}
.search-bar{
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 40px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 1rem;
    background: #606060;
    border-style: solid;
    color: #ffffff;
    
}
.search-bar::placeholder{
    color: #ffffff;
}
.location-icon{
    margin: 8px 0px 0px 10px;
    position: absolute;
    color: #ffffff;
}
.search-button{
    border-radius: 1rem;
    background: #606060;
    color: #ffffff;
    border-style: solid;
    padding: 0rem 1rem 0rem 1rem;
    font-weight: 700;
    height: 35px;
}
.glassmorphic-container{
    width: 65rem;
    height: 35rem;
    background: rgba(0, 0, 0, 0.63);
    backdrop-filter: blur(5px);
    border-radius: 2rem;
}
.temperature-container{
    width: 30rem;
    height: 27rem;
    background-image: url("../../public/images/rain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    margin: 6rem 0rem 0rem 2rem;
}
.temperature-glass-container{
    width: 100%;
    background: rgba(16, 21, 82, 0.597);
    backdrop-filter: blur(5px);
    height: 100%;
    border-radius: 1rem;
}
.location-name{
    display: flex;
    margin: 2rem;
    padding-top: 2rem;
}
.location-name-icon{
    width: 35px;
    height: 35px;
    margin: -4px 0px 0px 0px;
    color: #ffffff;
}
.location-title{
    margin: -14px 0px 0px 0px;
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff;
}
.temperature-display{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.temperature-c{
    font-size: 5rem;
    font-family: monospace;
    color: #ffffff;
    font-weight: 200;
    margin-top: 0;
}